/.bundle
/.env*
/.git
/.gitignore
/log/*
/tmp/*
/tmp/pids/*
/storage/*
/tmp/storage/*
/node_modules
/dist
/data/*.db
/data/*.db-*
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep
!/storage/.keep
!/tmp/storage/.keep
