/.bundle
/.env*
/log/*
/tmp/*
/tmp/pids/*
/storage/*
/tmp/storage/*
/node_modules
/dist
/data/*.db
/data/*.db-*
/data/*.sqlite3
/data/*.sqlite3-*
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep
!/storage/.keep
!/tmp/storage/.keep
.claude
.idea
